<%- include('partials/nav.ejs') %>

<div id="<% randomBeer.id %>">
    <img class="beerImg" src="<%- randomBeer.image_url %>" alt="beer">
    <h3><%= randomBeer.name %></h3>
    <p><%= randomBeer.description %></p>
    <p><%= randomBeer.tagline %></p>
</div>

<%- include('partials/footer.ejs') %>